@use "../abstract/" as *;
@use "../base/" as *;

.header {
  padding: 3rem 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  &__wrapper {
    @include between;
  }
  &__logo {
    a > h4 {
      color: $clr--dark;
      font-size: clamp(1.25rem, 5vw, 1.5rem);
    }
  }
  &__nav {
    ul {
      display: flex;
      gap: 3rem;
      align-items: center;
      li a {
        font-weight: 600;
        color: $clr--dark;
      }
    }
  }
}
