@use "../abstract/" as *;
.card {
  width: 100%;
  background-color: $clr--dark;
  color: $clr--light;
  img {
    width: 100%;
  }
  &__details {
    padding: 2rem;
    h4,
    p {
      margin-bottom: 1rem;
    }
  }
}

.cardIcon {
  @include centerAll;
  flex-direction: column;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  img {
    width: 7rem;
  }
  &__details {
    h4 {
      margin: 1.5rem 0;
    }
  }
}
